html {
    height: 100%;
}

body {
    background-image: url('../designs/MOTSP/MOTSP Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#txt {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    
}

#container {
    
    position: relative;
    top:50%;
    transform: translateY(-50%);
}


#timeline-container {
    position: absolute;
    
    
}

#timeline {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
}

#timeline li {
    margin: 5px 0;
}